<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title><%= title %></title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <!-- fonts
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">-->

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  <body>
    <div class="landing">
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header white">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title white" href="/"><%= home %></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right white">
              <li><a class="link white" href="#">About</a></li>
              <li class="dropdown">
                <a href="#" class="link dropdown-toggle white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/page/register">Register Voters</a></li>
                  <li><a href="/page/newelection">New Election</a></li>
                  <li><a href="/page/live">Ongoing Election</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/page/viewelection">View Elections</a></li>
                  <li><a href="/page/viewvoters">View Voters</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>

      <h2 align="center"><%= title %></h2>
    </div><!-- .landing -->

    <div class="container register" id="electionCand">
        <div class="" id="president">
          <h3>President</h3>
          <!--<div class="cand text-primary vote-cand"><span class="lead">name</span>&nbsp;<span class="lead">(voter id)</span></div>-->
          <hr>
        </div>
        <div id="v_president">
          <h3>Vice President</h3>
          <hr>
        </div>
        <div class="" id="secretary">
          <h3>Secretary</h3>
          <hr>
        </div>
        <div class="" id="a_sec">
          <h3>Asst. Secretary</h3>
          <hr>
        </div>
        <div class="" id="f_secretary">
          <h3>Financial Secretary</h3>
          <hr>
        </div>
        <div class="" id="a_f_sec">
          <h3>Asst. Financial Secretary</h3>
          <hr>
        </div>
        <div class="" id="pro">
          <h3>P.R.O</h3>
          <hr>
        </div>
        <div class="" id="a_pro">
          <h3>Assistant P.R.O</h3>
          <hr>
        </div>
        <br>
        <button class="btn btn-primary btn-lg" id="submit">DONE</button>
    </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery-2.1.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script>
      function updateCandidate(elect_id) {
          var xhttp = new XMLHttpRequest();

          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              var can = JSON.parse(this.responseText);
              can.forEach(function(item) {

                var xhttp2 = new XMLHttpRequest();

                xhttp2.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {

                    var name = JSON.parse(this.responseText);
                      var div = document.createElement("DIV");
                      div.classList.add("cand")
                      div.classList.add("vote-cand")
                      div.classList.add("text-primary")

                      div.setAttribute("id", item.voter_id);

                      var spanName = document.createElement("span");
                      spanName.setAttribute("class", "lead");

                      var spanVote = document.createElement("span");
                      spanVote.setAttribute("class", "lead");
                      
                      // format the names(voterid)
                      spanName.appendChild(document.createTextNode(name[0].fname + " " + name[0].lname));
                      spanVote.appendChild(document.createTextNode(" - (" + item.voter_id + ")"));
                      div.appendChild(spanName);
                      div.appendChild(spanVote);
                      
                      document.getElementById(item.position).appendChild(div);

                      console.log(JSON.stringify(item, null, 3));
                      
                  }
                }

                xhttp2.open("POST", "/getnames/" + item.voter_id, false);
                xhttp2.send();
              })

            }
          }

          xhttp.open("POST", "/getresult/" + elect_id, false);
          xhttp.send();

          // example : 
          // var btn = document.createElement("DIV");        // Create a <button> element
          // btn.setAttribute("class", "cand");
          // var t = document.createTextNode("CLICK ME");       // Create a text node
          // btn.appendChild(t);                                // Append the text to <button>
          // document.getElementById("president-"+elect_id).appendChild(btn);
        }
    </script>
        
        <script>
          var voter_id = "<%= id %>";
          var saveBtn = document.getElementById("submit");
          updateCandidate(<%= elect_id %>);
          votenow();
          voteResult = {president: "", v_president: "", secretary: "", a_sec: "", f_secretary: "", a_f_sec: "", pro: "", a_pro: ""}
          function votenow() {
            var elect = document.getElementById("electionCand").getElementsByTagName("div");
            console.log("elect length: ", elect.length);
            for(var i = 0; i < elect.length; i++) {
              console.log("div id:", i);
              var node = elect.item(i).getElementsByTagName("div");
              var cat = elect.item(i).id;
              for(var j = 0; j < node.length; j++) {
                console.log("node id:", j);
                node[j].addEventListener("click", function() {
                  var pos = this.parentNode.id;
                  var myid = this.id;
                  var sibs = $("#" + myid).siblings();
                  console.log("i was clicked", myid);
                  for(var k = 0; k < sibs.length; k++) {
                    sibs.removeClass("vote-selected");
                  }
                  $("#" + myid).addClass("vote-selected");
                  voteResult[pos] = myid;
                  console.log("my result: ", JSON.stringify(voteResult));
                })
              }

            }
          }
          saveBtn.addEventListener("click", function(){
            var xhttp = new XMLHttpRequest();
            
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {

              }
            }

            xhttp.open("POST", "/vote/votenow/" + <%= elect_id %> + "/" + voter_id, false);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(voteResult));
          })
        </script>
    </body>

</html>